@import url('https://fonts.googleapis.com/css2?family=Poppins:wght200;400;700&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
}
.leftside{
    position: fixed;
}
.right-sidebar{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.openbtn{
    position: relative;
    font-size: 30px;
    cursor: pointer;
    background-color: #131316;
    left: 10px;
    top: 10px;
    color: white;
    border: none;
    text-align: center; 
}
.closebtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    transition: transform .2s ease-in-out;
}
.closebtn:hover{
    transform: rotate(90deg);
}
.right-sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
}
.right-sidebar a:hover{
    color: #f1f1f1;
}
.right-sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main{
    margin-top: 20px;
    margin-left: 50px;
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .right-sidebar {padding-top: 15px;}
    .right-sidebar a {font-size: 18px;}
}
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
section h1{
    font-size: 50px;
}
.container{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.content{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-height: 80%;
    margin-left: 100px;
    margin-right: 100px;
}
.profile-image{
    max-width: 300px;
    max-height: 500px;
    border-radius: 15px;
}
.about{
    font-size: 20px;
    text-align: center;
    width: 500px;
}
.about p{
    text-align: left;
}
.about a{
    color: aqua;
}
.description{
    text-align: center;
    width: 500px;
    font-size: 20px;
}
.contacts a{
    color: aqua;
}
.download{
    text-align: left;
}
.description p{
    text-align: left;
    justify-content: center;
    margin-left: 10px;
}
.description li{
    text-align: left;
}
.about ol{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.icon{
    width: 40px;
}
.description ol{
    display: grid;
    align-items: center;
    text-align: left;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.Contacts{
    font-size: 20px;
}
.horizontal{
    width: 700px;
    height: 350px;
    margin-right: 50px;
}
.horizontal:hover{
    width: 100%;
    height: 100%;
}
.vertical{
    width: 300px;
    height: 600px;
    border-radius: 20px;
}
.vertical:hover{
    width: 100%;
    height: 100%;
}
.square{
    width: 500px;
    height: 500px;
    margin-right: 50px;
}
.back-to-top {
    padding: 0px;
    border-radius: 5px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1000;
    height: 30px;
    background-color: #131316;
    color: white;
    font-size: 32px;
    cursor: pointer;
}