*{
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
}
body{
    margin: 0;
    padding: 0;
    background-color: #040720;
    color: white;
}

/*NAVBAR*/
.navbar{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
    background-color: rgb(58, 153, 177);
    text-align: center;
}
.navbar a{
    height: 100%;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-size: 30px;
}
.navbar a:hover{
    transition: ease-in-out .5s;
    color: white;
    background-color: black;
}
/*MAIN*/
.main{
    position: relative;
}
a{
    color: aqua;
}
.icon{
    width: 45px;
}
/*ABOUT*/
.About{
    text-align: center;
    padding: 4rem;
    margin: 40px;
    color: white;
}
.About-container{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 30px;
    margin-right: 30px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
}
.title{
    grid-column: 1 / 4;
}
.profile-image{
    grid-column: 1/2;
}
.profile-image img{
    border-radius: 15px;
    width: 300px;
}
.about{
    grid-column: 3/4;
    width: 100%;
    text-align: left;
}
.about img{
    width: 45px;
}
.about ol ul{
    display: inline;
}

/*PROJECTS*/
/*.Projects{
    text-align: center;
    padding: 2rem;
    margin: 10px;
    color: white;
}*/
.Projects-container{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: stretch;
}
.project{
    width: 100%;
    padding: 5rem;
}
.project h1{
    grid-column: 1/4;
    font-size: 30px;
}
.content{
    width: 100%;
}
.project-image{
    grid-column: 1/4;
    width: 100%;
    aspect-ratio: 16/9;
}
.description{
    grid-column: 1/4;
    width: 100%;
    text-align: justify;
 }
/*IMAGES*/
.vertical img{
    border-radius: 15px;
}